# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
*.log

# VS Code settings (optional)
.vscode/

# Media files
*.m4a

# Executables
*.exe
